* {
  box-sizing: border-box;
  font: 300 1.125rem/1.5 system-ui;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(#1e2022, #52616b);
  margin: 0;
  overflow-x: hidden;
  @media (width < 400px) {
    overflow-x: scroll;
  }
}

caption {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

table {
  min-width: 400px !important;
  width: 60vw !important;
  max-width: 60vw !important;
  border-collapse: collapse;
  border-radius: 1rem;
  overflow: hidden;
  filter: drop-shadow(0 1px 1px #c1c1c1);
  margin-inline: auto;
  @media (width <= 1000px) {
    width: 90vw !important;
    max-width: 90vw !important;
  }
}

thead {
  min-width: 400px !important;
  background: black;
  color: white;
  border-radius: 1rem;

  th {
    font-weight: bold;
    padding-block: 0.5rem;
  }
}

tbody {
  text-align: center;
}

tr {
  position: relative;
  filter: drop-shadow(4px 4px 6px silver);
  z-index: var(--zi);

  &:not(:first-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: -2rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--row-background);
    transition: background 200ms;
  }

}

tr:nth-child(4n + 1) {
  --row-background: honeydew;
}

tr:nth-child(4n + 2) {
  --row-background: lavenderblush;
}

tr:nth-child(4n + 3) {
  --row-background: aliceblue;
}

tr:nth-child(4n) {
  --row-background: lightcyan;
}

tr:hover {
  --row-background: papayawhip;
}

td {
  width: 20vw !important;
  min-width: 20vw !important;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2rem 0.5rem;
  background-color: var(--row-background);
  transition: background 200ms;
  font-size: 20px;
  font-weight: 700;
  @media (width <= 1000px) {
    min-width: 150px !important;
    width: 30vw !important;
    max-width: 30vw !important;
  }
}

#user_id {
  font-size: 20px;
  font-weight:900;
  color: #e5e5e5;
  padding: 5px;
}

.head_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 100vw;
  height: 50px;
  background-color: #1e2022;
  margin-bottom: 50px;
}

.signout {
  color: #000000;
  font-size: 20px;
  font-weight: 900;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.new_pass {
  color: #000000;
  font-size: 20px;
  font-weight: 900;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.strong_text{
  font-size: 30px;
  font-weight: 800;
}

#dialog {
  display: none; /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  background-color: #e5e5e5;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 10px;
  @media (width <= 400px) {
    width: 90vw;
  }
}

#dialogOverlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

input {
  width: 90%;
}

.firstInput {
  margin-top: 20px;
  width: 100%;
}
.restInputs {
  width: 100%;
  margin-top: 10px;
}
.Pass_input {
  font-weight: 500;
  border: 1px black solid;
  border-radius: 5px;
  width: 100%;
  font-size: 15px;
  padding: 5px;
  padding-left: 10px;
}
#modalButtonsDiv {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.modalBtns {
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}